<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:property-placeholder location="classpath*:*.properties" />
	
	<context:component-scan base-package="com.wtp">
<!-- 		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
	</context:component-scan>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" p:dataSource-ref="masterDataSource" />

	<bean id="masterDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/study?useUnicode=true&amp;characterEncoding=UTF8&amp;characterSetResults=UTF8&amp;jdbcCompliantTruncation=false&amp;connectTimeout=60000&amp;socketTimeout=60000" />
		<property name="username" value="study" />
		<property name="password" value="yduts" />
		<property name="maxActive" value="4"/>	<!-- Maximum number of connection -->
		<property name="initialSize" value="4"/><!-- Number of connections to be created initially -->
		<property name="maxIdle" value="2"/>	<!-- Maximum number of connections to be stored in poll and unusued  -->
		<property name="minIdle" value="2"/>	<!-- Minimum number of connections to be stored in poll and unusued  -->
		<property name="maxWait" value="3000"/>	<!-- The time to wait for a connection to be returned -->
		<property name="poolPreparedStatements" value="true"/>
		<property name="maxOpenPreparedStatements" value="1024"/>
		<property name="testOnBorrow" value="false"/>
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="10000" />
		<property name="numTestsPerEvictionRun" value="10" />		
		<property name="logAbandoned" value="true"/>
		<property name="validationQuery" value="SELECT 1"/>
	</bean>
	
	<bean id="masterSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="masterDataSource" />
		<property name="configLocation" value="classpath:/SqlMapConfig.xml" />
	</bean>
	
	<bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/study?useUnicode=true&amp;characterEncoding=UTF8&amp;characterSetResults=UTF8&amp;jdbcCompliantTruncation=false&amp;connectTimeout=60000&amp;socketTimeout=60000" />
		<property name="username" value="study" />
		<property name="password" value="yduts" />
		<property name="maxActive" value="4"/>	<!-- Maximum number of connection -->
		<property name="initialSize" value="4"/><!-- Number of connections to be created initially -->
		<property name="maxIdle" value="2"/>	<!-- Maximum number of connections to be stored in poll and unusued  -->
		<property name="minIdle" value="2"/>	<!-- Minimum number of connections to be stored in poll and unusued  -->
		<property name="maxWait" value="3000"/>	<!-- The time to wait for a connection to be returned -->
		<property name="poolPreparedStatements" value="true"/>
		<property name="maxOpenPreparedStatements" value="1024"/>
		<property name="testOnBorrow" value="false"/>
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="10000" />
		<property name="numTestsPerEvictionRun" value="10" />		
		<property name="logAbandoned" value="true"/>
		<property name="validationQuery" value="SELECT 1"/>
	</bean>
	
	<bean id="slaveSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="slaveDataSource" />
		<property name="configLocation" value="classpath:/SqlMapConfig.xml" />
	</bean>
	
	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<constructor-arg name="sqlMapClient" ref="masterSqlMapClient" />
	</bean>
	
	<bean id="slaveSqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<constructor-arg name="sqlMapClient" ref="slaveSqlMapClient" />
	</bean>

</beans>
